/* Body */

body {
    background-color: #282828;
    color: white;
    margin-top: 8em;
}

a {
    color: white
}

/* Sidebar */
#sticky-sidebar {
    margin-top: 3em;
}


.active {
    color: #1DB954;
}

.hide {
    display: none;
}

/* Liked Heart Icon */
.heart {
    color: red;
}

/* All Songs */

.song-list {
    color: white;
    text-align: left;
}

/* Login/Signup Buttons */

#login-btn {
    margin: 0.3em;
}

/* Titles/Headers */
/* #playlist-header {
    padding-bottom: 0.3em;
} */


