body {
    background-color: #282828;
    color: white;
    margin-top: 6em;
}



.active {
    color: #1DB954;
}

.hide {
    display: none;
}

/* Liked Heart Icon */
#liked-song-heart {
    color: red;
}

