@import url('https://fonts.googleapis.com/css?family=Roboto');


/* Body */

body {
    background-color: #282828;
    color: white;
    margin-top: 8em;
    font-family: 'Roboto', sans-serif;
}

/* Global */

a {
    color: red
}


::-webkit-input-placeholder {
    color: #808080;
    text-align: center;
 
 }
 
 :-moz-placeholder {
    color: #808080;
    text-align: center;
 
 }

/* h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
}
 */


/* Sidebar */
#sticky-sidebar {
    margin-top: 3em;
}


.active {
    color: #1DB954;
}

.hide {
    display: none;
}

/* Liked Heart Icon */
.heart {
    color: red;
}

/* .far {
    color: white
} */

/* All Songs */

.song-list {
    color: white;
    text-align: left;
}

/* Login/Signup Buttons */

#login-btn {
    margin: 0.3em;
}

/* Titles/Headers */
/* #playlist-header {
    padding-bottom: 0.3em;
} */


